doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Japanese puzzle
    body 
        .wrapper
            table.table
                thead 
                    tr 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 1
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                        th 2
                        th 1
                        th 
                        th 
                        th 
                        th 
                        th 
                    tr 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 4
                        th 1
                        th 1
                        th 
                        th 1
                        th 4
                        th 1
                        th 1
                        th 1
                        th 
                        th 
                        th 1
                        th 4
                        th 1
                        th 6
                        th 1
                        th 2
                        th 1
                        th 4
                        th 
                        th 
                        th 
                    tr 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 2
                        th 3
                        th 1
                        th 1
                        th 4
                        th 3
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 3
                        th 1
                        th 1
                        th 1
                        th 1
                        th 5
                        th 1
                        th 2
                        th 5
                        th 
                        th 
                    tr 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                        th 2
                        th 3
                        th 4
                        th 5
                        th 5
                        th 5
                        th 5
                        th 8
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 8
                        th 5
                        th 5
                        th 5
                        th 5
                        th 5
                        th 7
                        th 5
                        th 1
                        th 1
                        th 1
                        th 1
                        th 
                    tr 
                        th 
                        th 
                        th 
                        th 
                        th 
                        th 2
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 1
                        th 2
                tbody
                    tr
                        th 
                        th 
                        th 
                        th 
                        th 3
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 2
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 3
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 1
                        th 2
                        th 1
                    tr
                        th 
                        th 1
                        th 1
                        th 1
                        th 2
                    tr
                        th 
                        th 
                        th 1
                        th 1
                        th 4
                    tr
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 1
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 2
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 2
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 2
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 1
                        th 7
                        th 1
                    tr
                        th 
                        th 1
                        th 1
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 5
                        th 7
                    tr
                        th 
                        th 
                        th 
                        th 6
                        th 8
                    tr
                        th 
                        th 
                        th 
                        th 7
                        th 8
                    tr
                        th 
                        th 
                        th 
                        th 7
                        th 8
                    tr
                        th 
                        th 
                        th 
                        th 8
                        th 8
                    tr
                        th 
                        th 
                        th 1
                        th 7
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 2
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 1
                        th 1
                    tr
                        th 
                        th 
                        th 
                        th 
                        th 30
                //- thead 
                //-     tr 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 2
                //-         th 
                //-         th 8
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 5
                //-         th 
                //-         th 2
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-     tr 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 4
                //-         th 8
                //-         th 5
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 5
                //-         th 7
                //-         th 7
                //-         th 2
                //-         th 
                //-         th 
                //-         th 
                //-     tr 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 14
                //-         th 
                //-         th 2
                //-         th 2
                //-         th 4
                //-         th 5
                //-         th 6
                //-         th 14
                //-         th 14
                //-         th 15
                //-         th 14
                //-         th 14
                //-         th 5
                //-         th 5
                //-         th 4
                //-         th 11
                //-         th 2
                //-         th 
                //-         th 
                //-     tr 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 1
                //-         th 2
                //-         th 2
                //-         th 2
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 4
                //-         th 14
                //-         th 10
                //-         th 11
                //-         th 9
                //-         th 8
                //-         th 4
                //-         th 5
                //-         th 4
                //-         th 5
                //-         th 6
                //-         th 5
                //-         th 4
                //-         th 6
                //-         th 9
                //-         th 10
                //-         th 10
                //-         th 14
                //-         th 14
                //-     tr 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 10
                //-         th 3
                //-         th 4
                //-         th 6
                //-         th 7
                //-         th 15
                //-         th 9
                //-         th 8
                //-         th 6
                //-         th 5
                //-         th 3
                //-         th 3
                //-         th 12
                //-         th 16
                //-         th 16
                //-         th 5
                //-         th 6
                //-         th 2
                //-         th 7
                //-         th 6
                //-         th 2
                //-         th 2
                //-         th 6
                //-         th 2
                //-         th 7
                //-         th 6
                //-         th 4
                //-         th 14
                //-         th 11
                //-         th 9
                //- tbody
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 2
                //-         th 2
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 3
                //-         th 3
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 4
                //-         th 4
                //-     tr
                //-         th 
                //-         th 2
                //-         th 2
                //-         th 2
                //-         th 2
                //-     tr
                //-         th 
                //-         th 2
                //-         th 2
                //-         th 1
                //-         th 2
                //-     tr
                //-         th 
                //-         th 2
                //-         th 2
                //-         th 2
                //-         th 2
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 8
                //-         th 8
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 19
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 19
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 19
                //-     tr
                //-         th 
                //-         th 
                //-         th 4
                //-         th 7
                //-         th 6
                //-     tr
                //-         th 
                //-         th 
                //-         th 4
                //-         th 7
                //-         th 6
                //-     tr
                //-         th 
                //-         th 
                //-         th 4
                //-         th 6
                //-         th 5
                //-     tr
                //-         th 
                //-         th 
                //-         th 3
                //-         th 5
                //-         th 3
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 
                //-         th 15
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 1
                //-         th 15
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 1
                //-         th 13
                //-     tr
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
                //-         th 11
                //-     tr
                //-         th 
                //-         th 1
                //-         th 1
                //-         th 9
                //-         th 1
                //-     tr
                //-         th 1
                //-         th 1
                //-         th 1
                //-         th 5
                //-         th 2
                //-     tr
                //-         th 1
                //-         th 1
                //-         th 3
                //-         th 3
                //-         th 3
                //-     tr
                //-         th 1
                //-         th 1
                //-         th 6
                //-         th 1
                //-         th 6
                //-     tr
                //-         th 
                //-         th 1
                //-         th 1
                //-         th 7
                //-         th 7
                //-     tr
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
                //-         th 17
                //-     tr
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
                //-         th 19
                //-     tr
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
                //-         th 19
                //-     tr
                //-         th 1
                //-         th 3
                //-         th 6
                //-         th 2
                //-         th 5
                //-     tr
                //-         th 1
                //-         th 5
                //-         th 6
                //-         th 2
                //-         th 5
                //-     tr
                //-         th 
                //-         th 
                //-         th 8
                //-         th 3
                //-         th 3
                //-     tr
                //-         th 
                //-         th 
                //-         th 9
                //-         th 3
                //-         th 3
                //-     tr
                //-         th 9
                //-         th 3
                //-         th 2
                //-         th 2
                //-         th 3
                //-     tr
                //-         th 8
                //-         th 3
                //-         th 4
                //-         th 4
                //-         th 3
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 17
                //-         th 8
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 15
                //-         th 7
                //-     tr
                //-         th 
                //-         th 11
                //-         th 2
                //-         th 1
                //-         th 4
                //-     tr
                //-         th 
                //-         th 
                //-         th 4
                //-         th 5
                //-         th 3
                //-     tr
                //-         th 
                //-         th 
                //-         th 4
                //-         th 5
                //-         th 2
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
                //-     tr
                //-         th 
                //-         th 
                //-         th 
                //-         th 1
                //-         th 1
        script(src="js/script.js")